﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
</head>
<body data-ng-app="app" data-ng-controller="Controler">
    <label>lista aut:</label>
    <div data-ng-repeat="c in cars">
      <br/>  
    <label >{{c.text}}</label>
    </div>
    <script>
        var app = angular.module('app', []);

        app.controller('Controler', function($scope) {

            $scope.cars = [
                { v: 1, text: "Volvo" },
                { v: 2, text: "Saab" },
                { v: 3, text: "Mercedes" },
                { v: 4, text: "Audi" }
            ];
        });
    </script>
</body>
</html>
