﻿<!DOCTYPE html>
<html>
<head>
    <title>Using Directives and Data Binding</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <style>
        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body data-ng-app="simpleApp">
    <div data-ng-controller="Controler">

        <label>Czysty Html</label>
        <br />
        <select>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>

        <br />
        <br />
        <label>AngularJS</label>
        <button data-ng-click="SetMyCar(2)">add { v: 2, text: 'Saab' }</button>
        <select data-ng-model="myCar" data-ng-options="c.text for c in cars"></select>
        <br />
        <p>wybrałeś: {{myCar}}</p>

        <br />
        <br />
        <label>AngulaJS Object: Key i Value</label>
        <select ng-model="type1" ng-options="k as v.value for (k,v) in types1">
            <option value="">Select Type</option>
        </select>
        <p>wybrałeś: {{type1}}</p>

        <br />
        <label>AngulaJS Object: Key i Value drugie podejście</label>
        <select data-ng-model="type2" data-ng-options="k as v.value for (k, v) in types2">
            <option value="">Select Type</option>
        </select>
        <p>wybrałeś: {{type2}}</p>

        <br />
        <label>AngulaJS Object: Key i Value trzecie podejście</label>
        <br/>
        <label>v1</label>
        <select data-ng-model="type3" data-ng-options="k as v for (k, v) in types3">
            <option value="">Select Type</option>
        </select>
        <br/>
        <label>v2 --- nie działa</label>
        <select data-ng-model="type3">
            <option value="">Select Type</option>
            <!--<option data-ng-repeat="k as v for (k, v) in types3" value="{{k}}">{{v}}</option>-->
        </select>
        <p>wybrałeś: {{type3}}</p>

        <br />
        <label>
            Inne stworzenie select list znalezione na: 
            <a href="http://www.codeproject.com/Tips/831044/Data-binding-in-AngularJS-by-consuming-ASP-NET-Web">codeproject</a>
        </label>
        <select data-ng-model="type4">
            <option value="">Select Type</option>
            <option data-ng-repeat="t in types4" value="{{t.k}}">{{t.v}}</option>
        </select>
        <p>wybrałeś: {{type4}}</p>

    </div>

    <script>
        var simpleApp = angular.module('simpleApp', []);

        simpleApp.controller('Controler', function ($scope) {

            $scope.SetMyCar = function (id) {
                id--;
                $scope.myCar = $scope.cars[id];
            }

            $scope.customers = [
                { name: 'John Smith', city: 'Phoenix' },
                { name: 'John Doe', city: 'New York' },
                { name: 'Jane Doe', city: 'San Francisco' }
            ];

            $scope.cars = [
                { v: 1, text: "Volvo" },
                { v: 2, text: "Saab" },
                { v: 3, text: "Mercedes" },
                { v: 4, text: "Audi" }
            ];

            $scope.types1 = {
                "1": { "value": "111" },
                "2": { "value": "222" },
                "5": { "value": "555" }
            };
            $scope.types2 = {
                1: { "value": "111" },
                2: { "value": "222" },
                5: { "value": "555" }
            };
            $scope.types3 = {
                1: "111",
                2: "222",
                5: "555"
            };
            $scope.types4 = [
               { k: 1, v: "111" },
               { k: 2, v: "222" },
               { k: 5, v: "555" }
            ];


            //$scope.myCar = $scope.cars[1];
            //            var ccc = $scope.cars[1];
            //            var ccc = { "v": 2, "text": "Saab" };
            //            $scope.myCar = $.extend(true, {}, ccc);
            //            $scope.myCar = { "v": 2, "text": "Saab" };
            $scope.myCar = {};
        });
        simpleApp.directive('myPartial', function () {
            return {
                restrict: 'E',
                templateUrl: 'myPartial.html'
            };
        });
    </script>

</body>
</html>





